body {
    display: flex;
    margin: 0;
}
#menu {
    width: 25%;
    display: block;
}


button {
    height: 50px;
    width: 100%;
}

#game-list {

    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    cursor: pointer; /* Set the cursor property */
}



#fixedButton {
    position: fixed;
    top: 50%; /* Adjust the top position as needed */
    left: 24%; /* Adjust the left position as needed */
    width: 30px;
    height: 30px;
    /*padding: 10px;*/
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000; /* Set a higher z-index to ensure it appears above other elements */
}


#options {
    width: 20%;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    cursor: pointer; /* Set the cursor property */
}

.popup-options {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

#radius-input {
    margin-top: 10px;
}


.game-entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    padding: 4px;
    border-bottom: 1px solid #ccc;

}
#game-name {
    display: flex;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;

    /*background-color: #f0f0f0;*/
}



.menuicons {
    /* Align the icons to the right */
    text-align: right;
}

.menuicons i {
    margin-left: 8px; /* Add some space between icons */
}

.hide {
    display: none;
    visibility: hidden;
}

#map {
    flex: 1;
    height: 100vh;
    width: 100%;
}

.strikethrough {
    text-decoration: line-through;
}

.my-label {
    position: absolute;
    align:top;
    font-size:10px;
    padding:0px;
    opacity: 0.5;
}

.my-label-italic {
    position: absolute;
    font-style: italic;
    align:top;
    padding:0px;
    font-size:10px;
    opacity: 0.5;
}


